.title .large-header {
	background: #DD7759;
}

.title .main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	font-size: 5em;
	left: 50%;
	top:35%;
	text-transform: lowercase;
	font-family: Raleway, sans-serif;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

#circle {
    width: 50px;
    height: 50px;
		background-color: white;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

@media only screen and (max-width : 768px) {
	.title .main-title {
		font-size: 3em;
	}

}
