/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}
.title .large-header {
	background: #7f8c8d;
}
.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.title .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
}

.title .main-title {
	padding: 10px 40px;
	border: 10px double #f9f1e9;
	text-transform: uppercase;
	font-family: Londrina Outline, sans-serif;
}
.main-title .thin {
	font-weight: 200;
}

.info .info-title {
	margin-top: 60px;
	text-align: center;
	font-size: 60px;
	font-family: Londrina Outline, sans-serif;
}

.info .info-information {
	padding:30px;
	text-align:center;
	font-weight: lighter;
	font-family:'Raleway', Calibri, Arial, sans-serif;
	font-size:30px;
}
.modal-bg{
	position:fixed;
	left:0;right:0;
	top:0;bottom:0;
	z-index:100;
	background-color:rgba(50,50,50,0.5);
}

.button{
	position:relative;
	font-size:17px;
	font-family:'Raleway', Calibri, Arial, sans-serif;
	background:#7f8c8d;
	border-radius: 3px;
	border-bottom: 3px solid #7f8c8d;
	padding:7px 15px;
	color:#fff;
	cursor:pointer;
	float:right;
	margin:30px 40px;
 	-webkit-transition:margin 100ms;
	-moz-transition:margin 100ms;
	transition:margin 100ms ;
}
.button:active{
   margin: 53px 70px;
}
.button:hover{
	background:black;
}

form {
	display:block;
	margin:30px;
}
form *{
	margin:10px;
}
input:focus{
	border:2px solid #5DC3A7;
  outline:0;
}
input{
	width:240px;
	padding:7px;
	border:2px solid #ccc ;
	border-radius:3px;
}
button{
	float: right;
	padding: 8px 12px;
	margin-top: 15px;
	background: #5DC3A7;
	border: none;
	color: #fff;
	border-bottom: 3px solid #7f8c8d;
	border-radius: 3px;
	cursor: pointer;
}
button:active{
	margin: 18px 10px;
}
button:hover{
	background-color: #0FC491;
}
#forgot-link{
	font-size: 14px;
	line-height: 45px;
	color: #7f8c8d;
	display: inline-block;
}
#forgot-link:hover{
	color: #23AA84;
}
#modal{
	position:absolute;
	background-color:#7f8c8d;
	top:50%;
	left:50%;
	z-index:101;
	border-radius:3px;
	width:340px;
	height:260px;
	margin-top:-130px;
	margin-left:-170px;
	border-bottom: 3px solid #7f8c8d;
	box-shadow:0 0 10px 0 rgba(0,0,0,0.3);
}

#modal span{
	display: block;
	background:black;
	padding: 10px;
	color:#fff;
	border-radius:3px;
}
#close{
	float: right;
	color: #fff;
	font-family: serif;
	font-size: 15px;
}
#close:hover{
	color: #000;
}
@media only screen and (max-width : 768px) {
	.title .main-title {
		font-size: 3em;
	}

}
