/* logo color: #00A99D */

@font-face {
	font-family: 'curriculum'; src: url(../fonts/Arciform.otf) format("opentype");
}

.curriculumimg
{
 	width: 300px;
	vertical-align: middle;
	position: relative;
	text-align: center;
	padding-top: 10px;	
	padding-bottom: 20px;		
}

.curriculum-header
{
	background: #1B3043;
	font-family: curriculum;
	text-align: center;
	color: #fff;
    font-size: 40px;
	padding: 17px;
	letter-spacing: 110%;	
}

.curriculum-summary
{
	background: #00A99D;
	font-family: curriculum;	
 	text-align: left;
	color: #fff;
 	padding: 15px 10%;
 	font-size: 20px;
	line-height: 120%;
	letter-spacing: 110%;	
}

.content-subheader
{
	font-family: curriculum;
	font-weight: bold;
    text-align: left;
    font-size: 30px;
    color: #1B3043;
 	padding-top: 20px;
 	padding-bottom: 10px;
	padding-left: 10%;
	padding-right: 10%;
	letter-spacing: 110%;	
}

.content
{
	font-family: curriculum;
    text-align: left;
    font-size: 20px;
    color: #1B3043;
 	padding-top: 15px;
 	padding-bottom: 15px;
 	padding: 15px 10%;
	line-height: 120%;
	letter-spacing: 110%;	
}

.boldcontent
{
	font-family: curriculum;
	font-weight: bold;
    text-align: left;
    font-size: 20px;
    color: #1B3043;
 	padding: 0px 10%;
	line-height: 120%;
	letter-spacing: 150%;	
}
.buttonchat {
    
    
    background: blue;
    border: 2px solid white;
    text-align: center;
    padding-bottom: 20px;
    vertical-align: middle;
    
    
    
}